# Ignore node_modules
node_modules/

# Other common ignores for Node.js projects
npm-debug.log
yarn-error.log
dist/
build/
node_modules/.cache/.eslintcache
node_modules/.cache/default-development/1.pack
